@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --black:#252828;
    --white:#e5e5e5;
    --pink: #8257e5;
    --background:#121214;
    
    font-size: 62.5%;
    font-family: 'Source Code Pro', monospace;
}

body {
    background:var(--background);
    color: var(--white);
}

body.hideScroll{
    overflow: hidden;
}

button {
    border: none;
    padding: 0.6rem;
    transition: 0.5s;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;    
    cursor: pointer;
    border-radius: 0.6rem;
    color: var(--pink);
    background: none;
}

button:hover {
    text-decoration: underline;
}

.button {
    box-shadow: 0 0.8rem 1.6rem var(--black);
    border-radius: 0.6rem;
    width: 10.5rem;
    transition: 0.5s;
    padding: 1rem;
    color: var(--white);
    background: var(--pink);
}

.button:hover {
    text-decoration: none;   
    background-color: var(--white);
    color: var(--black);
}


.logo {
    width: 30rem;
}

p, .description {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

a{
    text-decoration: none;
    color: #8257e5;
}

a:hover {
    text-decoration: underline;
}

